In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Modelling
from sklearn.metrics import mean_squared_error,r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

In [6]:
df = pd.read_csv('data/stud.csv')

In [8]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:

print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

### Preparing X and Y variables

In [9]:
X = df.drop(columns=['math_score'],axis=1)

In [10]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [11]:
y = df['math_score']

In [12]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

### Creating column Transformer with 3 types of transformer

In [14]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include="object").columns

In [15]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder', oh_transformer,cat_features),
        ('StandardScaler', numeric_transformer, num_features),
    ]
)

In [16]:
X = preprocessor.fit_transform(X)

In [17]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=32)
X_train.shape, X_test.shape

((800, 19), (200, 19))

In [19]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae,mse,rmse,r2_square

In [36]:
models = {
    'Linear Regression' : LinearRegression(),
    'Lasso' : Lasso(),
    'Ridge' : Ridge(),
    'K-Neighbours Regression' : KNeighborsRegressor(),
    'Decision Tree Regressor' : DecisionTreeRegressor(),
    'Random Forest Regressor' : RandomForestRegressor(),
    'XGBRegressor' : XGBRegressor(),
    'CatBoost Regressor' : CatBoostRegressor(verbose=False),
    'AdaBoost Regressor' : AdaBoostRegressor()
}

model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # training models

    # Predicting values of train and  test
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluating performance of train and test datasets
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test,y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print('- Mean Squared error: {:.4f}'.format(model_train_mse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print('- Mean_squared_error : {:.4f}'.format(model_test_mse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.2733
- Mean Squared error: 27.8072
- Mean Absolute Error: 4.2282
- R2 Score: 0.8827
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5654
- Mean_squared_error : 30.9733
- Mean Absolute Error: 4.3651
- R2 Score: 0.8452
Lasso
Model performance for Training set
- Root Mean Squared Error: 6.4778
- Mean Squared error: 41.9622
- Mean Absolute Error: 5.1300
- R2 Score: 0.8229
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3425
- Mean_squared_error : 40.2276
- Mean Absolute Error: 4.9522
- R2 Score: 0.7989
Ridge
Model performance for Training set
- Root Mean Squared Error: 5.2686
- Mean Squared error: 27.7582
- Mean Absolute Error: 4.2158
- R2 Score: 0.8829
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5773
- Mean_squared_error : 31.1062
- Mean Absolute Error: 4.3773
- R2 Score: 0.8445
K-Neighbours Regression
Model performance for Training set
- Root Mean Squared Error: 5.8523
- Mean Squared error: 34.2490
- Mean Absolute Error: 4.6502
- R2 Score: 0.8555
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.1084
- Mean_squared_error : 50.5298
- Mean Absolute Error: 5.7630
- R2 Score: 0.7474
Decision Tree Regressor
Model performance for Training set
- Root Mean Squared Error: 0.4507
- Mean Squared error: 0.2031
- Mean Absolute Error: 0.0387
- R2 Score: 0.9991
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.7624
- Mean_squared_error : 76.7800
- Mean Absolute Error: 7.0900
- R2 Score: 0.6162
Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.2886
- Mean Squared error: 5.2379
- Mean Absolute Error: 1.8012
- R2 Score: 0.9779
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3557
- Mean_squared_error : 40.3944
- Mean Absolute Error: 5.1008
- R2 Score: 0.7981
XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 1.0009
- Mean Squared error: 1.0019
- Mean Absolute Error: 0.6286
- R2 Score: 0.9958
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.8488
- Mean_squared_error : 46.9066
- Mean Absolute Error: 5.4370
- R2 Score: 0.7655
CatBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 2.9555
- Mean Squared error: 8.7347
- Mean Absolute Error: 2.3022
- R2 Score: 0.9631
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.8666
- Mean_squared_error : 34.4171
- Mean Absolute Error: 4.7340
- R2 Score: 0.8280
AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.7413
- Mean Squared error: 32.9627
- Mean Absolute Error: 4.6805
- R2 Score: 0.8609
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.1710
- Mean_squared_error : 38.0809
- Mean Absolute Error: 4.9754
- R2 Score: 0.8096

In [ ]:
# list(models.values())[0]

LinearRegression()